.ratingDiv {
    border-radius: 50%;
    padding: 2px;
    color: white;
    background-color: white;
    width: 2rem;
}

.ratingDiv .CircularProgressbar-text {
    font-size: 30px;
    font-weight: 700;
    fill: rgb(220, 28, 28);
    color: white;
}

.ratingDiv .CircularProgressbar-trail {
    stroke: transparent;
}